*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}

#main {
    color: white;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }



.logo{
    width: 100px;
}

header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display:flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.github a{
    font-size: 1.05rem;
    padding: 0 3rem;
}
.hamburger{
    padding-left: 1.5rem;
}

.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    background-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar{
    position: relative;
    width: 52%; height: 1.3px;
    background-color: white;
    border-radius: 2px;
}

.hamburger .bar::before, 
.hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before{
    top: -4.5px;
}

.hamburger .bar::after{
    top: 4.5px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax{
    pointer-events: none;
    transition: 0.35s cubic-bezier(.2,.49,.32,.99);
}


.bg-img {
    position: absolute;
    width: 150%;
    top: calc(50%);
    left: calc(50%);
    z-index: 1;
}

.moon{
    position: absolute;
    width: 120%;
    top: 24%;
    left: 40%;
    z-index: 2;
}

.planet{
    position: absolute;
    width: 85%;
    top: 30%;
    left: 70%;
    z-index: 3;
}

.cloud_1{
    position: absolute;
    width: 80%;
    top: 45%;
    left: 80%;
    z-index: 4;
}

.cloud_2{
    position: absolute;
    width: 70%;
    top: 30%;
    left: 20%;
    z-index: 5;
}



.building_1{
    position: absolute;
    width: 35%;
    top: 75%;
    left: 100%;
    z-index: 7;
}



.building_2{
    position: absolute;
    width: 50%;
    top: 85%;
    left: 45%;
    z-index: 8;
}

.text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: white;
    z-index: 9;
    pointer-events:all;
}

.text h1{
    font-weight: 800 ;
    font-size: 6rem;
    line-height: 0.88;
}


.text h2{
    font-weight: 100;
    font-size: 3.5rem;
    line-height: 0.88;
}

.fog_1{
    position: absolute;
    width: 110%;
    top: 90%;
    left: 80%;
    z-index: 10;
}


.spaceship{
    position: absolute;
    width: 30%;
    top: 30%;
    left: 80%;
    z-index: 11;
}


.building_3{
    position: absolute;
    width: 80%;
    top: 65%;
    left: 5%;
    z-index: 12;
}

.fog_2{
    position: absolute;
    width: 100%;
    top: 95%;
    left: 20%;
    z-index: 13;
}


.building_4{
    position: absolute;
    width: 50%;
    top: 80%;
    left: 78%;
    z-index: 13;

}

.building_5{
    position: absolute;
    width: 40%;
    top: 70%;
    left: 20%;
    z-index: 14;
}

.fog_3{
    opacity: 0.5;
    position: absolute;
    width: 150%;
    top: 90%;
    left: 50%;
    z-index: 15;
}

.rocks_1{
    position: absolute;
    width: 80%;
    top: 80%;
    left: 10%;
    z-index: 18;
}

.rocks_2{
    position: absolute;
    width: 70%;
    top: 55%;
    left: 77%;
    z-index: 19;
}

